.wrapper {
    max-width: 100%;
    margin: 0 auto;
}
/*header*/
.header-name {
    text-align:right;
    font-size: 20px;
}

header h1 {
    font-family: "Playfair Display",serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    margin-bottom: 46px;
    
}

.body {
    background-color:#6dbadd;
    background-size: 100%;
}
.header-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}
.header-navigation a {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: rgb(77, 72, 73);
    text-transform: uppercase;
    text-decoration: none;
}
.header-navigation a:hover {
    color:#6dbadd;
}
/*promo*/
.promo .wrapper{
    background-image: url("image/treasure-hunt.png");
    width: 1350px;
    height: 340px;
    margin: 0 auto;
    margin-bottom: 44px;
}
h1{
    text-align: center;
}
h2{
    font-family: 'Cormorant Garamond', serif;
    color: #060606;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #521147;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-family: 'Cormorant Garamond', serif;
    color: rgb(68, 58, 68);
    border: 3px solid rgb(245, 137, 239);
    padding: 10px;
    text-align: left; 
    max-width: 30%
}
/*review*/

.block-title {
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 31px;
    color: #571a44;
    margin-bottom: 10px;
}
.block-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #091e2f;
    height: 64px;
    margin-bottom: 24px;
}
.review-block {
    display: flex;
    justify-content: space-between;
}
.block {
    width: 370px;
}
.review-block-image img{
    width: 370px;
    height: 203px;
    margin-bottom: 20px;
}
.review {
    margin-bottom: 51px;
}
/*ticket*/
.ticket {
    background-color: #ffffff;
}
.ticket h3{
    padding-top: 33px;
    margin-bottom: 35px;
}

.ticket-ref{
    background-color: #3e699a;
    width: 170px;
    height: 47px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
    line-height: 47px;
}
.ticket-ref a {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cce0f6;
    text-decoration: none;
    vertical-align: middle;
}
.block2 {
    display: flex;
    flex-direction: column;
}
.ticket-block {
    width: 370px;
    text-align: center;
    margin: 0 auto;
}
/*footer*/
footer {
    background-color: #6b8e9e;
}
.footer-name {
    text-align: center;
}
footer h1 {
    font-family: "Playfair Display",serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-top: 26px;
    margin-bottom: 32px;
}
.footer-navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: 1px solid #84c6e0;
    margin-bottom: 42px;
}
.footer-navigation a {
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #3989a1;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-navigation a:hover {
    color: #4e8ec2;
}

.pay {
    background-color: #b8d0d8;
    text-align: center;
    margin: 0 auto;
}

.pay h2 {
    font-family: "Playfair Display",serif;
    text-align: center;
    margin: 0 auto;
}

.pay h4 {
    font-family: "Roboto",sans-serif;
}

.pay p {
    font-family: "Roboto",sans-serif;
}

.pay form {
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}

.pay form input {
    margin-bottom: 20px;
}


.wicartnum
 	{
 	width: 20px;
 	border: 1px solid #000;	
 	}


